/*.nav-link:hover, .nav-link:focus,*/
body {
    font-family: 'Roboto',sans-serif;
    color: #434455;
    background-color: #e5e5e5;    
}
.allbackground {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*logo*/
.logoweb {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,16;
    color: #4D5AE5;
    text-decoration: none;
}
.logostudio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,16;
    color: #2E2F42;
}
.logostudiofooter {
    color: #ffffff;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}
.nav-link:hover, :focus {
    color: #404BBF;
}
.contacts {
    ont-weight: 400;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}
.contacts:hover,:focus {
    color: #404BBF;
}
.list {
    list-style: none;
}
/*main*/
.backgroundsection {
    background-color: #2E2F42;
}
/*text*/
.textcolor {
    color: #2e2f42;
}
.effstext {
    color: #ffffff;    
    width: 494px;
    height: 120px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07
}
.textstyle1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.textstyle2 {
    font-style: normal;
    font-size: 16px;
    line-height: 1,5;
}

.footertext{
    color: #ffffff;
}
/*buttom*/
.indexbtn {
    font-weight: 500;
    font-size: 16px;
    font font-style: ;
    line-height: 1.5;
    cursor: pointer;
    color: #ffffff;
    background: #4D5AE5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid #e7e9fc;
    border-radius: 4px;  
}
.indexbtn:hover,:focus {
    background: #404BBF;
    color: #ffffff;
}
.btn {   
    font-weight: 500;
    font-size: 16px;
    font font-style: ;    
    line-height: 1.5;
    cursor: pointer;
    color: #4D5AE5;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}
.btn:hover,:focus {
    background: #404BBF;
    color: #ffffff;
}